
html{
    width: 100%;
    background-color: white;
}

h2{
    color: #800000;
}
h3{
    color: #800000;
}
h4{
    color: #800000;
}

footer{
    background: white;
}

.qkcen{
    text-align: center;
}

.bg-primary{
    background-color: #800000 !important;
}

body{
    background-color: #fffded;
    width:90%;
    margin: 0 5%;
}


header{
    display: inline-block;
    padding: 1em 1em;
}

.headerimage{
    float:left;
    margin-right: 1em;
}
.headerheading{
    float:left;
    h1{
        color: #800000;
    }
    h4{
        color: black;
    }
}

footer{
    text-align: center;
    color: white;
    background-color: #800000;
    line-height: 3em;
    height: 3em;
}

.calender{
    
    h3{
        color: black;
        border-bottom: solid 3px #800000;
    }
    h4{
        display: inline;
    }
    a{
        text-decoration: none;
        display: block;
        height: 5em;
        img{
            height: 100%;
        }
    }
    a:hover{
        h4{
            color: white;
        }
        background-color: #800000;
    }
}

.monthly{
    overflow: auto;
    img{
        float: right;
        width: 50%;
        padding: 2em 0;
        padding-left: 1em;
    }
    h3{
        color: black;
    }
    border-top: solid 3px #800000;
    border-bottom: solid 3px #800000;
}
blockquote{
    font-style: italic;
}